body {
    margin:0px;
}
.header{
    background-color:#c0c0c0;
}
.header .inner{
	margin-left:10px;
	margin-right:10px;
	color:#0000ff;
    font-weight:bold;
    font-size:26px;
}
.menu{
	margin-left:10px;
	margin-right:10px;
}
.menu ul,li
{
    cursor:pointer;
}
.main{
	margin-left:10px;
    margin-right:10px;
}
.my-fade-container {
  position: relative;
}
.main.ng-enter,
.main.ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.main.ng-enter {
  z-index: 100;
  opacity: 0;
}
.main.ng-enter.ng-enter-active {
  opacity: 1;
}
.main.ng-leave {
  z-index: 101;
  opacity: 1;
}
.main.ng-leave.ng-leave-active {
  opacity: 0;
}
.content {
  position: absolute;
  /*width: 95%;
  height: 90%;*/
}
.content>div
{
    overflow:auto;
}

