body {
    margin:0px;
    color:#111111;
}
.header{
    background-color:#c0c0c0;
}
.header .inner{
	margin-left:10px;
	margin-right:10px;
	color:#0000ff;
    font-weight:bold;
    font-size:26px;
}
.menu{
	margin-left:10px;
	margin-right:10px;
}
.menu>.login{
    text-align:right;
    }
.menu ul,li
{
    float:left;
    list-style:none;
    cursor:pointer;
    text-decoration:underline;
    -webkit-padding-start: 0px;
}
    .menu li
    {
            padding-right:10px;
    }
.main{
	margin:10px;
}
